<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


    <main id="content">
      <div class="site-wrap">

        <div class="site-item">
          <section>
            <div class="home-overlay"></div>
            <div class="section-content">
              <div class="inner-content">
                <h1>Launch your digital experiences</h1>
                <p>A full service web designing company based in Kochi, Kerala which develop creative and captivating websites for your enterprises.</p>
                <a href="#" class="btn">Learn More</a>
              </div>
            </div>
          </section>
        </div>

      </div>
    </main>

    

    {% include footer.html %}

  </body>

</html>
